{%- assign compact = include.compact | default: false -%}
<aside class="social-follow{% if compact %} compact{% endif %}">
  {% unless compact %}<h2>Join the conversation</h2>{% endunless %}
  <ul class="social-list">
    <li><a href="https://x.com/UCPatsNation rel="me noopener" target="_blank">X<span> — @{{ site.social.x }}</span></a></li>
    <li><a href="https://instagram.com/ucpatriotsnation rel="me noopener" target="_blank">Instagram<span> — @{{ site.social.instagram }}</span></a></li>
    <li><a href="https://www.threads.net/@ucpatriotsnation" rel="me noopener" target="_blank">Threads<span> — @{{ site.social.threads }}</span></a></li>
    <li><a href="https://www.reddit.com/r/CumberlandsPatriots" rel="me noopener" target="_blank">Reddit<span> — r/{{ site.social.reddit }}</span></a></li>
    <li><a href="https://www.facebook.com/people/Patriots-Nation/61581164078548/" rel="me noopener" target="_blank">Facebook<span> — Patriots Nation</span></a></li>
  </ul>
</aside>